.categorias-maquiagens {
    text-align: center;

    h2 {
        margin: 40px 0;
        font-size: 40px;
        color: #2D2D2D;
        font-family: 'Roboto', sans-serif;
    }

    .categorias {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;

        img {
            max-width: 320px;
            max-height: 500px;
        }
    }
}

@media (min-width: 350px) and (max-width: 480px) {
    .categorias-maquiagens {
        h2 {
            font-size: 20px;
        }

        .categorias {
            gap: 20px;

            img {
                height: 400px;
            }
        }
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .categorias-maquiagens {
        h2 {
            font-size: 30px;
        }
    }

    .categorias {
        gap: 20px;

        img {
            height: 350px;
        }
    }
}