.categorias-maquiagens {
    text-align: center;

    h2 {
        margin: 40px 0;
        font-size: 40px;
        color: #2D2D2D;
        font-family: 'Roboto', sans-serif;
    }
}

.categorias {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

    img {
        max-width: 320px;
        max-height: 500px;
    }
}