.hero {
    height: 89vh;
    background: url(../../assets/images/imagem-hero.jpg) center center no-repeat;
    background-size: cover;
}

@media (min-width: 350px) and (max-width: 480px) {
    .hero {
        height: 200px;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .hero {
        height: 300px;
    }
}

@media (min-width: 769px) and (max-width: 1279px) {
    .hero {
        height: 400px;
    }
}