.card-produtos-lancamento {
    gap: 40px;
    display: flex;
    align-items: center;

    .imagem-produto {
        width: 360px;
        height: 360px;
    }

    .infos-produto {
        padding: 20px;
        max-height: 400px;
        max-width: 480px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 10px;

        h3 {
            font-size: 30px;
            color: #2D2D2D;
            padding-bottom: 10px;
        }

        .botoes {
            gap: 20px;
            display: flex;
            padding: 10px 0 10px 0;
        }

        h5 {
            font-size: 18px;
        }

        .descricao-produto {
            color: #2D2D2D;
            max-width: 450px;
            padding: 10px 0 10px 0;
        }

        .btn {
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }

        .batom-azul {
            background-color: #B1B0D8;
        }

        .batom-vermelho {
            background-color: #E1342A;
        }

        .batom-bordo {
            background-color: #73282D;
        }

        .batom-bege {
            background-color: #DE755E;
        }
    }
}

@media (min-width: 350px) and (max-width: 480px) {
    .card-produtos-lancamento {
        flex-direction: column;

        .imagem-produto {
            width: 280px;
            height: 280px;
        }

        .infos-produto {
            width: 320px;
            font-size: 14px;
            text-align: center;

            .botoes {
                justify-content: center;
            }
        }
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .card-produtos-lancamento {
        flex-direction: column;

        .infos-produto {
            text-align: center;

            .botoes {
                justify-content: center;
            }
        }
    }
}

@media (min-width: 769px) and (max-width: 1279px) {
    .card-produtos-lancamento {
        flex-direction: column;

        .infos-produto {
            text-align: center;

            .botoes {
                justify-content: center;
            }
        }
    }
}

@media (min-width: 1024px) {
    .btn {
        border: 1px solid transparent;
        transition: 0.3s ease-in-out;

        &:hover {
            cursor: pointer;
            border: 1px solid #000;
        }
    }
}