.header {
    margin: 20px;
    display: flex;
    max-height: 75px;
    align-items: center;
    justify-content: space-between;

    .logo-passoia {
        width: 15%;
    }

    .header-nav {
        li a {
            color: #000;
        }
    }
}

@media (min-width: 350px) and (max-width: 480px) {
    .header {
        .logo-passoia {
            width: 30%;
        }
    }
}

@media (min-width: 1024px) {
    .header-nav li a {
        transition: 0.3s ease-in-out;

        &:hover {
            color: #F40179;
        }
    }
}