.header {
    display: flex;
    padding: 30px;
    align-items: center;
    justify-content: space-between;

    .logo-passoia {
        width: 15%;
    }
}

@media (min-width: 0px) and (max-width: 480px) {
    .header{
        .logo-passoia {
            width: 30%;
        }
    }
}