.header {
    .menu {
        width: 50px;
        height: 50px;
        display: none;
        align-self: flex-end;
    }

    nav label {
        display: flex;
        flex-direction: column;
    }

    .header-nav {
        gap: 20px;
        display: flex;
        font-size: 20px;
        font-family: 'Poppins', sans-serif;

        li {
            transition: 0.2s ease-in-out;
            border-bottom: 1px solid transparent;

            &:hover {
                color: #2D2D2D;
                border-bottom: 1px solid #2D2D2D;
            }
        }
    }

    .hamburguer {
        top: 30px;
        left: 15px;
        width: 30px;
        height: 2px;
        display: block;
        position: relative;
        background-color: #000;
        transition: 0.5s ease-in-out;
    }

    .hamburguer:before,
    .hamburguer:after {
        background-color: #000;
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        transition: 0.2s ease-in-out;
    }

    .hamburguer:before {
        top: -10px;
    }

    .hamburguer:after {
        bottom: -10px;
    }

    nav input {
        display: none;
    }

    input:checked~label .hamburguer {
        transform: rotate(45deg);
    }

    input:checked~label .hamburguer:before {
        transform: rotate(90deg);
        top: 0;
    }

    input:checked~label .hamburguer:after {
        transform: rotate(90deg);
        bottom: 0;
    }
}

@media (max-width: 768px) {
    .header {
        .menu {
            display: block;
        }

        .header-nav {
            display: none;
        }

        input:checked~ul {
            display: block;
        }

        nav .header-nav {
            width: 200px;
            padding: 20px;
            font-size: 16px;
            background-color: #fff;
        }
    }
}