footer {
    display: flex;
    flex-wrap: wrap;
    padding: 50px 50px 80px 50px;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;

    h4 {
        font-size: 24px;
        color: #2D2D2D;
        padding-bottom: 10px;
    }

    .atendimento {
        .menu-atendimento li {
            padding: 5px 0;
        }
    }

    .formas-de-pagamento {
        li {
            display: flex;
            justify-content: space-evenly;

        }

        img {
            width: 60px;
            height: 60px;
        }
    }

    .redes-sociais ul li {
        display: flex;
        justify-content: space-evenly;
    }
}

@media (min-width: 350px) and (max-width: 480px) {
    footer {
        gap: 20px;
        padding: 50px 30px;
        justify-content: center;

        h4 {
            font-size: 20px;
        }
    }

    .atendimento {
        text-align: center;
    }

    .pagamento {
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    footer {
        justify-content: center;
        gap: 20px;

        h4 {
            font-size: 20px;
        }
    }
}

@media (min-width: 769px) and (max-width: 1279px) {
    footer {
        justify-content: space-around;
    }
}