.lancamentos {
    font-family: 'Roboto', sans-serif;

    h2 {
        margin: 40px 0;
        font-size: 40px;
        color: #2D2D2D;
        text-align: center;
    }

    .produtos-lancamento {
        gap: 40px;
        display: flex;
        align-items: center;
        justify-content: center;

        .produto-img {
            width: 120px;
            height: 120px;
        }
    }
}

@media (min-width: 350px) and (max-width: 480px) {
    .lancamentos {
        h2 {
            font-size: 20px;
        }

        .produtos-lancamento {
            ul {
                display: none;
            }
        }
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .lancamentos {
        h2 {
            font-size: 30px;
        }
    }

    .produtos-lancamento {
        ul {
            display: none;
        }
    }
}